/*
 Thierry Parmentelat -- INRIA
 */

/* space around various messages */
div.my-slice-renewal {
    margin: 30px;
}

/* toggles for the nodes sections */
div#toggle-container-my-slice-persons-current,
div#toggle-container-my-slice-nodes-current {
    background: #f0f0f0;
}

div#toggle-container-my-slice-persons-add,
div#toggle-container-my-slice-nodes-add {
    background: #f0e0e0;
}

/* the scheduler area */
div#toggle-container-my-slice-nodes-reserve {
    background: #def;
}

/* where the graphics go */
div#leases_area {
  padding: 10px 20px;
}

/* this class is used to store data that needs to get passed to javascript code */
/* these elements are not meant to be rendered */
.hidden {
    display: none;
}
.center {
    text-align: center;
}

/* the various controls for the scheduler */
/* bottom section with the buttons */
input.leases_input { width: 28px; text-align: right; }
.leases_label { padding-left: 12px; padding-right: 8px; }
#leases_settings { padding: 15px 30px 10px 30px; }
#leases_buttons { text-align: center; padding: 0px 10px 10px 10px; }
#leases_refresh,#leases_submit { padding-left: 20px; padding-right: 20px; margin-left: 10px; margin-right:10px; }

/* column configuation style */

div#toggle-container-my-slice-nodes-configuration {
    background: #f8f8f8;
}

OPTION.out{background-color:white; color:black}
OPTION.in{background-color:#CAE8EA; color:#4f6b72}

div.out{background-color:white; color:black}
div.in{background-color:#CAE8EA; color:#4f6b72}
div.selected{background-color:gray; color:black}
div.invisible{display:none}

.myslice {
        font: 11px Arial, Helvetica, sans-serif;
        color: gray;
}

.myslice .title {
        font: 11px;
        font-weight: bold;
}

.myslice .desc {
        font: 11px;
        font-style: italic;
}

.myslice .subtitle{
        color: #bb9c61;
}


