/* $Id$ */

/* expanding links */

.example {
    padding:10px; 
    color:#000; 
    background:#fcf7ff; 
    width:80%; 
    clear:left; 
    margin:2em auto 3em auto; 
    border:1px solid #69c;
}
a.expandlink {
    color:#00c
}
a:active.expandlink,
a:focus.expandlink,
a:hover.expandlink {
    color:#fff
}

/* -------------------- general */
body {
    position: relative;
}

.plc-warning {
    padding: 4px;
    background:  #ffa223; 
}
.plc-error {
    background: red;
    font-weight: bold;
}

.plc-warning a:link { text-decoration: none; color:white }
.plc-warning a:visited { text-decoration: none; color:white }
.plc-warning a:hover { text-decoration: none; color:black }

/* -------------------- the planetlab module area */
div.block-planetlab a {
    font-weight:normal;
    font-style:italic;
}
/* -------------------- sites */
.addresses { text-align: center; font-weight: bold; }

/* -------------------- admin search */
#admin-search-form {
    text-align: center;
    padding: 10px;
}

#admin-search-form label {
    font-weight : bold;
    padding-right: 20px;
}

span.tokens {
    font-weight: bold;
    font-style: italic;
}

#admin-search-message {
    padding: 30px;
}

p.node_add {
    font-style: italic;
    padding: 20px 40px;
    text-align: center;
    font-size: larger;
}

p.node_download {
    font-style: italic;
    padding: 20px 40px;
    font-size: larger;
}

div.slice_add {
    padding: 20px 40px;
}
div.slice_add p {
    font-size: larger;
*    text-align: center; */
}
div.slice_add * {
    font-style: italic;
}
.bold {
    font-weight: bold;
}
#download_button, #slice_add_button {
    text-align:center;
}
h3.node_download {
    text-align: center;
}
div#add_slice_in_site {
    text-align:center;
}
#add_slice_choose_site {
    margin:20px ;
}
