/* expanding links */

.example {
    padding:10px; 
    color:#000; 
    background:#fcf7ff; 
    width:80%; 
    clear:left; 
    margin:2em auto 3em auto; 
    border:1px solid #69c;
}
a.expandlink {
    color:#00c
}
a:active.expandlink,
a:focus.expandlink,
a:hover.expandlink {
    color:#fff
}

body {
    position: relative;
}

.plc-foreign {
    background:  #e0e0e0;
}
.plc-warning {
    background:  #ffa223; 
}
.plc-error {
    background: red;
    font-weight:bold;
}

.plc-warning a:link { text-decoration: none; color:white }
.plc-warning a:visited { text-decoration: none; color:white }
.plc-warning a:hover { text-decoration: none; color:black }

.addresses { text-align: center; font-weight: bold; }

/* styling the planetlab module area */
div.block-planetlab a {
    font-weight:normal;
    font-style:italic;
}
