/*
 $Id$
 */

.plc-toggle-trigger {
    padding-left: 15px;
/*    text-align:center; */
}

/* containers */
div.plc-toggle-container {
    border:2px solid #ccc;
}

/* the buttons */
img.plc-toggle-visible, img.plc-toggle-hidden {
    height: 16px;
    padding-right: 15px;
}

/* what goes on and off */
div.plc-toggle-area {
}

