/*
 $Id$
 */

/* containers - work with nifty corners*/
div.plc-toggle-container {
    background-color: #E6E6E6;
    padding: 20px;
    margin: 10px;
}

.plc-toggle-trigger {
    padding: 0;
    margin: 20px;
    font-weight: bold;
    cursor: crosshair;
}

/* the buttons */
img.plc-toggle-visible, img.plc-toggle-hidden {
    height: 16px;
    padding-right: 15px;
}

/* what goes on and off */
div.plc-toggle-area {
}

